# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Vite
.vite/

# IDE
.vscode/
.idea/